.form-wrapper {
    width: 90%; 
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.form-btns-two{
    margin-top: 0.5rem;
    justify-content: space-between;
}

.form-btns-one{
    display: flex;
    margin: 0.5rem 0 .5rem;
    justify-content: center;
}